<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Solution Core</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @*JUMBOTRON *@

    <div id="wrapper">

        <div class="navbar-fixed-top jumbotron">

            <img src="~/Content/images/logo.jpg" />

        </div>

        <div style="height:155px"></div>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    @Html.ActionLink("Solution Core", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                </li>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Firma Data", "CompView", "Companies")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("TEST", "Index", "Home")</li>
                <li>@Html.ActionLink("TEST", "Companies", "Companies")</li>
                <li>@Html.ActionLink("TEST", "About", "Home")</li>
                <li>@Html.ActionLink("TEST", "Contact", "Home")</li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        @*
            <div class="navbar navbar-left navbar-default">
                <div class="container">
                    <div class="navbar-left">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Solution Core", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-left">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Firma Data", "CompView", "Companies")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("TEST", "Index", "Home")</li>
                            <li>@Html.ActionLink("TEST", "Companies", "Companies")</li>
                            <li>@Html.ActionLink("TEST", "About", "Home")</li>
                            <li>@Html.ActionLink("TEST", "Contact", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>
        *@



        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <!-- /#wrapper -->


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
