@model IEnumerable<SolutionCore.Models.Company>
@{
    ViewBag.Title = "Firmaer";
}


<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CVR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartUpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CVR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartUpDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EmployeeCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>

        </tr>

    }

</table>

@foreach (var company in Model)
{
   
        <div>
            <button type="button" class="text" data-toggle="collapse" data-target=".emp">@company.Name, @company.Address</button>
        </div>
        <div id="demo" class="emp collapse">
            Bill Gates
        </div>
        <div id="demo" class="emp collapse">
            Hans Nørløv
        </div>
}
